<div class="about-us-right" >
    <h3>IMMUNIZATIONS  </h3>
    <div class="row">
      <div class="col-md-9">
          <p>Below, find the immunization schedule for adults as recommended by the Centers for Disease Control.</p>
          
        <br>
          <iframe width="100%" height="1200" src="http://www.cdc.gov/vaccines/schedules/hcp/imz/adult-shell.html"></iframe>
  
      </div>
      <div class="col-md-3">
          <div class="servicees static">
            <h3>Related Links</h3>
            <ul class="medical-service">
                <li><a routerLink="/patient-education"><i class="fa fa-arrow-right"></i> Patient Education</a></li>
                <li><a routerLink="/immunizations"><i class="fa fa-arrow-right"></i> Immunizations</a></li>  
            </ul>
          </div>
      </div>
    </div>
    
  </div>