<div class="about-us-right">
    <h3>PATIONLINE BILL <span>PAY</span></h3>
    <div class="row">
      <div class="col-md-8 servicehtml">
          <p>Gwinnett Center Medical Associates makes it easy for our patients to pay for their medical care by offering secure, online bill payment. Simply click on the "Make a Payment" button below and follow the directions to enter your credit card information. Before you begin, please have your credit card and invoice available.</p>
          <p>We accept the following credit cards:</p>
          <ul>
              <li>Visa</li>
              <li>Mastercard</li>
              <li>Discover</li>
              <li>American Express</li>
            </ul><p></p>
            <form id="phreesia_payForm" name="phreesia_payForm" class="phreesia_payForm phreesia_payForm_sm phreesia_payForm_sm_orange" action="https://www.phreesia.net/eap/patient/Payment.aspx/Start" method="post" target="_blank">
              <input type="hidden" name="encrypted" value="HAZsjTGGLBWsIOzKerdu05HXEkhuEoRH5fbXi2Bci2WybLY8aM1zNEsGoZyR1cgfcWs6edofivuVlWDhS3HUgyywsLJ81S33m2bm_RtYhn28Q-FMuZvf2cVYspSwG5b_LkItQHHbSsXPy98tDYIfWO52xeW_4wKHhBtK19ZJIfLJ-C99ljJdqH4PF5b7aV0YtyYbvURV3bFH2wpPIxm51g8cJnORm1QVMmSpD-Tz5mLxLtyupoHZnysGCI_joHAm8W0YWT1JNcMhlMNdzKfnz1xSrNEhqVLYpDBeoEX4wjetDrIzSpeOkCVLScy1Miw4iGN0pVU5GQei9sum009RepT2gATpV2uqdnWkI9gwn2bWDNFR4myq_W2GO94cqrn90">
              <a class="btn btn-primary" id="phreesia-link" href="javascript:void(0);" onclick="javascript:document.getElementById('phreesia_payForm').submit();">Make a Payment</a>
              </form>
            
      </div>
      <div class="col-md-4">
          <app-relatedlink></app-relatedlink>
        </div>
    </div>
  </div>
  