<div class="about-us-right">
  <h3>Simple carbohydrates <span>complex carbohydrates</span> </h3>
  <div class="col-md-8">
      <p>	Carbohydrates are a major part of a person’s daily diet. Carbohydrates are divided into two groups which are called simple carbohydrates and complex carbohydrates.</p>
      <p>Simple carbohydrates are made up of small molecules of glucose (sugar) and are found in fruits, milk and milk products, sugar, honey, maple syrup, and molasses. Simple carbohydrates are easily digested by the body which causes the sugar level in the body to rise quickly. This spike in one’s sugar level provides instant but short lived energy.</p>
      <p>Complex carbohydrates are made up of long, complex chains of glucose molecules which are digested slowly. Because complex carbohydrates are digested slowly the body maintains a more constant blood sugar level and the energy is long lasting. Complex carbohydrates a made up of starch and dietary fiber.</p>
  </div>
  <div class="col-md-4">
    <app-medservices></app-medservices>
  </div>
</div>
