<div class="about-us-right">
    <h3>IMMUNIZATIONS</h3>
    <div class="row">
      <div class="col-md-8 servicehtml">
          <p>Below, find the immunization schedule for adults as recommended by the Centers for Disease Control.</p>
          <iframe height="1200px" width="100%" src="http://www.cdc.gov/vaccines/schedules/hcp/imz/adult-shell.html"></iframe>
            
      </div>
      <div class="col-md-4">
          <app-relatedlink></app-relatedlink>
        </div>
    </div>
  </div>
  