<div class="row">
    <div class="col-md-8 servicehtml">
        <p>Please read the Terms and Conditions of Use carefully.</p>
        <p>By using this website, you signify that you agree with the Terms and Conditions of Use of this website. If you do not agree with all of the Terms and Conditions of Use, do not use this website</p>
        
        <h3>Terms and Conditions of Use</h3>
        <ul>
          <li>Nothing in this website can be used for illegal purposes. </li>
            <li>Nothing in this website can be downloaded without written permission from Civic Medical Center.</li>
            <li>All content in this website is the property of Civic Medical Center. Unauthorized use of any content in this website is strictly prohibited.</li>
            <li>The purpose of this website is provide visitors with educational information. The purpose of this website is not to give medical advice. If you need medical advice please contact Civic Medical Center. </li>
            <li>This website contains links to third party websites for your convenience. Civic Medical Center is not responsible for the content of those websites. Access those websites and their services is at your own risk. These links do not indicate an endorsement by Civic Medical Center.</li>
            <li>If you have any questions or comments regarding our Terms and Conditions of Use, please contact us. <a routerLink="/contact">Civic Medical Center</a></li>
        </ul>
    </div>
    <div class="col-md-4">
      <app-medservices></app-medservices>
    </div>
  </div>