<section class="case_area home-section">
    <div class="container">
      <div class="row hidden-xs hidden-sm" >
        <!--START SINGLE Case AREA-->
        <div class="col-sm-3 col-xs-12 pointer" routerLink="/services">
          <div class="single_case text-center">
            <img src="assets/img/md-service.png" alt="">
            <h4 class="single_case_text">Medical Services<br> </h4>
          </div>
        </div>
        <!--/END SINGLE Case AREA-->
        <!--START SINGLE Case AREA-->
        <div class="col-sm-3 col-xs-12 pointer" routerLink="/team">
          <div class="single_case text-center ">
            <img src="assets/img/service-4.png" alt="">
            <h4 class="single_case_text">Medical Team <br> </h4>
          </div>
        </div>
        <!--/END SINGLE Case AREA-->
        <!--START SINGLE Case AREA-->
        <div class="col-sm-3 col-xs-12 pointer" routerLink="/accesspoint">
          <div class="single_case text-center">
            <img src="assets/img/service-5.png" alt="">
            <h4 class="single_case_text">Patient Portal <br> </h4>
          </div>
        </div>
        <!--/END SINGLE Case AREA-->
        <!--START SINGLE Case AREA-->
        <div class="col-sm-3 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
            <div class="single_case text-center active_case">
              <app-news></app-news>
              <h4 class="single_case_text">Latest News <br> </h4>
            </div>
          </div>
          <!--/END SINGLE Case AREA-->
      </div>
    

    <!-- About the compeny -->
    <div class="row">
      <div class="col-sm-8">
        <div class="about-us-right">
            <h3>Dr. Bala Annadurai, <span>MD</span></h3>
            <strong>American Physicians of Indian Origin
                Member, Hill Physician Group</strong>
            <div class="image">
              <img src="./assets/img/bala.png" />
            </div>
            
              <p>Dr. Bala Annadurai has been in practice in the San Francisco Bay Area for over 17 years. She started her own practice in 1998 in Fremont California. Her practice includes internal medicine, aesthetic services, and a diet program. Dr. Annadurai was trained in internal medicine at the University of California San Francisco. She is American Board certified in internal medicine. Her practice is growing and it is now known as Civic Medical center.</p>
              <p>Dr. Annadurai earned her MBBS at Madras University in India in 1989. Before starting her own practice Dr. Annadurai was an Internist at Kaiser Permanente in Hayward. Dr. Annadurai offers a 10 day diet program. This diet program can help a person lose weight and reduce the changes of getting any serious health issues. Dr. Annadurai is certified in Dr. McDougall's Starch Solution diet program.</p>
              <p>In conjunction with her practice, Dr. Annadurai is the medical director of both the Masonic Home in Union City and Aegis Living of Fremont. Dr. Annadurai also treats patients at Washington Hospital Healthcare System in Fremont. Dr. Annadurai is constantly attending medical classes and seminars as she continues to improve her medical knowledge and skills. She is committed to her patients. Her goal is to give her patients the best and most up to date medical care possible. Her special interests include weight loss programs, management of diseases which includes diabetes and high blood pressure, and woman's health issues.</p>
  
        </div>
      </div>
      <div class="col-sm-4">
       <app-medservices></app-medservices>
      </div>
    </div>

    <div class="row hidden-md hidden-lg">
      <!--START SINGLE Case AREA-->
      <div class="col-sm-3 col-xs-12 pointer" routerLink="/services">
        <div class="single_case text-center">
          <img src="assets/img/md-service.png" alt="">
          <h4 class="single_case_text">Medical Services<br> </h4>
        </div>
      </div>
      <!--/END SINGLE Case AREA-->
      <!--START SINGLE Case AREA-->
      <div class="col-sm-3 col-xs-12 pointer" routerLink="/team">
        <div class="single_case text-center ">
          <img src="assets/img/service-4.png" alt="">
          <h4 class="single_case_text">Medical Team <br> </h4>
        </div>
      </div>
      <!--/END SINGLE Case AREA-->
      <!--START SINGLE Case AREA-->
      <div class="col-sm-3 col-xs-12 pointer" routerLink="/accesspoint">
        <div class="single_case text-center">
          <img src="assets/img/service-5.png" alt="">
          <h4 class="single_case_text">Patient Portal <br> </h4>
        </div>
      </div>
      <!--/END SINGLE Case AREA-->
      <!--START SINGLE Case AREA-->
      <div class="col-sm-3 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
          <div class="single_case text-center active_case">
            <app-news></app-news>
            <h4 class="single_case_text">Latest News <br> </h4>
          </div>
        </div>
        <!--/END SINGLE Case AREA-->
    </div>
  </div>
  </section>