<section class="case_area">
    <div class="container">
      <div class="row">
        <!--START SINGLE Case AREA-->
        <div class="col-sm-3 col-xs-12 ">
          <div class="single_case text-center">
            <img src="assets/img/md-service.png" alt="">
            <h4 class="single_case_text">Medical Services<br> <span>Details</span></h4>
          </div>
        </div>
        <!--/END SINGLE Case AREA-->
        <!--START SINGLE Case AREA-->
        <div class="col-sm-3 col-xs-12 " >
          <div class="single_case text-center active_case">
            <img src="assets/img/service-4.png" alt="">
            <h4 class="single_case_text">Medical Team <br> <span>Details</span></h4>
          </div>
        </div>
        <!--/END SINGLE Case AREA-->
        <!--START SINGLE Case AREA-->
        <div class="col-sm-3 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
          <div class="single_case text-center">
            <img src="assets/img/service-5.png" alt="">
            <h4 class="single_case_text">Patient Portal <br> <span>Details</span></h4>
          </div>
        </div>
        <!--/END SINGLE Case AREA-->
        <!--START SINGLE Case AREA-->
        <div class="col-sm-3 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
            <div class="single_case text-center">
              <app-news></app-news>
              <h4 class="single_case_text">Latest News <br> </h4>
            </div>
          </div>
          <!--/END SINGLE Case AREA-->
      </div>
    </div>

    <!-- About the compeny -->
    <div class="row">
      <div class="col-sm-8">
        <div class="about-us-right">
            <h3>CIVIC <span>Medical Center</span></h3>
            <p>is proud to serve the primary health care needs of adults in Lawrenceville and the surrounding Gwinnett county area. As an Internal Medicine practice, our focus is on adult medicine. Christopher S. Crooker, MD can serve as your primary care doctor just like a general practitioner or family practitioner does. Our practice does not deliver babies, treat children, nor perform surgery.</p>
  
        </div>
      </div>
    </div>
  </section>