<div class="servicees" *ngIf="url != '/services'">
  <h3>Medical  Services</h3>
  <ul class="medical-service">
    <li *ngFor="let medser of serviceList.servicedata">
      <a routerLink="/service/{{medser.id}}" ><i class="fa fa-arrow-right" aria-hidden="true"></i> {{medser.service}}</a>
    </li>
  </ul>  
</div>

<div class="about-us-right" *ngIf="url === '/services'">
  <h3>MEDICAL <span>SERVICES</span> </h3>
  <p>In today's complex world, we aim to take care of our patients for life - in the office or clinic, during hospitalization and intensive care, and in nursing homes. When other medical specialists, such as surgeons or obstetricians, are involved, we coordinate their care for our patients and manage difficult medical problems associated with that care. In fact, we so often serve as medical consultants to physicians in other specialties that we've earned the nickname, "the doctor's doctor."</p>
  <h5>Some Services We Provide</h5>
  <div *ngFor="let medserdet of serviceList.servicedata">
    <h4>{{medserdet.service}}</h4>
    <div class="servicehtml" [innerHTML]="medserdet.detail"></div>
  </div>
</div>
