<div class="header_top" id="top_head">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-7 topheader_left">
        <span>
        <i class="fa fa-phone" aria-hidden="true"></i>
        <a href="callto:{{navData.phone}}">{{navData.phone}}</a>
        </span>
        <span>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <a >{{navData.address}}</a>
        </span>
      </div>
      <div class="col-md-6 col-sm-5 topheader_right hidden-sm hidden-xs">
        <a a routerLink="/appoinment"><i class="fa fa-clock-o" aria-hidden="true"></i> Book an Appointment</a>
        <a routerLink="/accesspoint"><i class="fa fa-globe " aria-hidden="true"></i> Access Patient Portal</a>
        <a routerLink="/payment"><i class="fa fa-credit-card  " aria-hidden="true"></i> Online Bill Pay</a>

      </div>
      <div class="col-md-6 col-sm-5 topheader_right hidden-md hidden-lg">
        <a a routerLink="/appoinment"><i class="fa fa-clock-o" aria-hidden="true"></i>  <p>Appointment</p></a>
        <a routerLink="/accesspoint"><i class="fa fa-globe " aria-hidden="true"></i> <p>Patient Portal</p></a>
        <a routerLink="/payment"><i class="fa fa-credit-card  " aria-hidden="true"></i> <p>Pay bill</p></a>

      </div>
    </div>
  </div>
</div>



<div id="undefined-sticky-wrapper" class="sticky-wrapper" style="height: 88px;"><div class="menubar_area sticky_area" style="">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 brand_logo">
        <a routerLink="/">
          <h3>{{navData.doctor}}</h3>
          <div class="subtitle"><strong>Internal Medicine</strong></div>
          <div class="subtitle">{{navData.appName}} </div>
        </a>
      </div>
      <div class="col-sm-8 main_menu">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li [ngClass]="{'active':activeRoute==='home'}"><a routerLink="/">Home</a></li>
            <li><a routerLink="/services">Medical Services</a></li>
            <li><a routerLink="/team">Medical Team</a></li>
            <li><a routerLink="/patientcenter">Patient Center</a></li>
            <li><a routerLink="/location">Location</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
            <!-- <li>
              <a>Services <span class="span_one">&gt;</span></a>
              <ul>
                <li><a>service</a></li>
                <li><a>Services-Details</a></li>
              </ul>
            </li> -->
            
          </ul>
        </div>
      </div>

    </div>
  </div>
</div></div>