
<header>
  <div class="container">
      <div class="topbar">
        <div class="row ">
            <div class="col-md-7">{{navData.address}}</div>
            <div class="col-md-5 phone">{{navData.phone}}</div>
        </div>
          
        </div> 
        <!-- /topbar -->
        <div class="mainbar ">
          <div class="row">
              <div class="col-md-7">
                <a href="">
                  <div class="logo">
                    <div class="name"> {{navData.appName}}</div>
                    <div class="sub"> {{navData.appName}}</div>
                    <div class="others"> {{navData.appName}}</div>
                  </div>
                  </a>
                </div><!-- /colmd-7 -->
                
                <div class="col-md-5">
                  <div class="header-right">
                    <a >Book an Appointment <div class="icon"></div> </a>
                    <a >Access Patient Portal <div class="icon"></div> </a>
                    <a >Online Bill Pay <div class="icon"></div> </a>
                  </div>
                </div>
          </div>
          <!-- /row -->
          <div class="nav-inner">
            <ul>
              <li><a>Home</a></li>
              <li><a>Medical Services</a></li>
              <li><a>Meet Our Medical Team</a></li>
              <li><a>Patient Center</a></li>
              <li><a>Location</a></li>
              <li><a>Contact Us</a></li>
            </ul>
          </div>
        </div><!-- /mainbar -->
        
  </div>
  
</header>
<!-- /header -->