.success{
    border: 1px solid #ccc;
    margin-top: 20px;
    background: #eee;
    h1{
        font-size: 32px;
        font-weight: bold;
    }
    .icon{
        margin: 0px;
        margin-top: 15px;
        font-size: 60px;
    }
}