<div class="about-us-right">
    <h3>PATIENT  <span>PORTAL</span></h3>
    <div class="row">
      <div class="col-md-8 servicehtml">
        <p>Our Patient Portal facilitates communication with our office by providing convenient 24 x 7 access from the comfort and privacy of your own home or office.</p>
        <p>Through our secure patient portal, you are able to:</p>
        <ul>
            <li>request an appointment,</li>
            <li>complete patient forms (personal information, medical history, and social history)</li>
            <li>request a prescription refill,</li>
            <li>access your medical history,</li>
            <li>access your lab reports,</li>
            <li>send a secure message to our office.</li>
        </ul>
        <p>Pre registration instructions are available at our <a href="https://mycw.eclinicalweb.com/cityvalleymedical/jsp/100mp/login_otp.jsp" target="_blank" >patient portal</a></p>
        
        <p>To obtain a username and password, please <a routerLink="/contact">contact our office</a>.</p>
        <a class="btn btn-primary" href="https://mycw.eclinicalweb.com/cityvalleymedical/jsp/100mp/login_otp.jsp" target="_blank">Access patient portal</a>
        <p></p>
        <h3>Healow</h3>
        <p>We have new enhancement to our patient portal and Healow app. Simply click the button below and check it out!</p>
        <p>The left side of the site is for booking appointments. No need to wait until the office opens to call or wait for a reply from a portal message. Our schedule is at your fingertips!</p>
        <p>Just type our zip code, 30046, or Lawrenceville, into the first box, choose a specialty and click Find. You will be able to see all of our providers' openings for the next two weeks and book or reserve the time and date that you want to be seen. It's easier than booking an airline flight.</p>
        <p>You will get an email confirming the appointment reservation has been received and accepted.</p>
        <a class="btn btn-primary" href="https://healow.com/apps/jsp/webview/index.jsp" target="_blank" >Access healow.com</a>
      </div>
      <div class="col-md-4">
          <app-relatedlink></app-relatedlink>
        </div>
    </div>
  </div>
  