<div class="row">
  <div class="col-sm-8">
    <div class="about-us-right">
        <h3>MEET OUR MEDICAL<span>TEAM</span></h3>

        <p>Doctors of internal medicine (also called "internists") are doctors who treat adults. Internists are unique in that our focus is on adult medicine. We don't deliver babies, we don't treat children, nor do we do surgery. Internists, just like general practitioners or family practitioner doctors, can be your primary care doctor.</p>
        <p>Internists take care of people from their teen years through old age and have undergone special study and training that focuses on the treatment and prevention of adult diseases. At least three of our seven or more years of medical school and postgraduate training are dedicated to learning how to prevent, diagnose, and treat diseases primarily affecting adults. We internists care for our patients for life. Usually we see patients in our offices or clinics and sometimes in hospitals and nursing homes.</p>

        <div class="awesome-team-member-bottom">
          <div class="col-md-4 col-sm-6 single_member">
            <div class="awesome-team-member-img">
              <img src="./assets/img/bala.png" alt="">
            </div>
            <div class="awesome-team-member-title">
              <h3>Dr. Bala Annadurai, MD</h3>

              <p>Member, American Physicians of Indian Origin Member, Hill Physician Group</p>
            </div>
          </div>
          
        </div>
        </div>
        </div>
 
  <div class="col-sm-4">
   <app-medservices></app-medservices>
  </div>
</div>