<div class="col-md-8">
  <div class="about-us-right servicehtml">
      <h3>Patient <span>Center</span></h3>
      <h4>Patient Forms</h4>
<p>Forms for check-in must be completed at our office.  Personal Information, Medical History, and Social History forms can be completed through our <a title="Secure online patient portal of Gwinnett Center Medical Associates" href="patient-portal.php">secure patient portal</a>.</p>
<h4>Insurance</h4>
<p>We want to be accessible to all of our patients and participate in as many different insurance plans as possible.</p>
<ul>
<li><a title="List of Insurance Plans accepted by Gwinnett Center Medical Associates, PC, Lawrenceville, GA" href="insurance.php">List of Insurance Plans</a></li>
</ul>
<h4>Book an Appointment</h4>
<p>Now you can <a href="" title="Book an appointment with a medical provider at Gwinnett Center Medical Associates">book an appointment online</a> with one of our providers.</p>
<h4>Office Policies</h4>
<h5>Appointment Policy</h5>
<p>All patients, please bring your insurance card(s) and a photo id to your appointment.</p>
<p>We do not see patients with motor vehicle accident related injuries. If you have a motor vehicle accident related injury, please call Accident Injury Centers of Atlanta at 1-888-275-2422.</p>
<p>For a Worker's Compensation appointment, please bring a letter from the patient's employer including the following information:</p>
<ul>
<li>date of injury,</li>
<li>what all we are allowed to treat,</li>
<li>a claim number,</li>
<li>an address to mail claim to,</li>
<li>a phone number to contact someone in regards to the claim.</li>
</ul>
<h5>Cancellation Policy</h5>
<p>If a you are not able to keep a scheduled appointment, either call or send a portal message to cancel or reschedule at least 24 hours before the appointment time to avoid a $25 no show fee.</p>
<p>If you are scheduled for a PAP or a physical exam and do not cancel at least 24 hours before the appointment time, the no show fee is $50. </p>

</div>
