<div class="about-us-right" >
  <h3>PATIENT <span>EDUCATION</span> </h3>
  <div class="row">
    <div class="col-md-9">
        <p>Dr. Crooker and his staff have provided this health education resource for our patients and the Lawrenceville and Gwinnett County community. We hope you find the health care information here to be helpful.</p>
        <form action="http://informationrx.com/drcrooker/Search" method="post" target="_blank">
          <input type="text" placeholder="Search" name="keywords" class="form-control"> 
         <input type="hidden" name="providerName" value="drcrooker"> <input type="submit" title="Search" name="submit" class="btn-primary">
      </form>
      <br>
        <iframe width="100%" height="2080" src="http://informationrx.com/drcrooker/Centers"></iframe>

    </div>
    <div class="col-md-3">
        <div class="servicees static">
          <h3>Related Links</h3>
          <ul class="medical-service">
              <li><a routerLink="/patient-education"><i class="fa fa-arrow-right"></i> Patient Education</a></li>
              <li><a routerLink="/immunizations"><i class="fa fa-arrow-right"></i> Immunizations</a></li>  
          </ul>
        </div>
    </div>
  </div>
  
</div>